<!doctype html>
<html lang="ru">
    
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Jquery-->
        <script src="../assets/jquery-3.3.1.min.js"></script>
    <!--CSS/JS-->
        <link rel="stylesheet" href="../assets/main.css" type="text/css">
        <script src="../assets/main.js"></script>
    <!-- Bootstrap CSS/JS -->
        <link rel="stylesheet" href="../assets/bootstrap4/bootstrap.min.css" type="text/css">
        <script src="../assets/bootstrap4/bootstrap.min.js"></script>
    <!--Favicon -->
        <link rel="shortcut icon" type="image/png" href="../assets/images/favicon.png"/>
    <!-- Title -->
        <title>KeyStore | Store games</title>
    </head>
    
<body>
    
    <!--Navigation panel-->    
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <img src="../assets/images/logo.png" width="55" height="30" alt="KeyStore">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="menu">
            <li class="nav-item active">
                <a class="nav-link" href="#home">Главная<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#sale">Акции</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#news">Новости</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Магазин</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Контакты</a>
            </li>
        </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Найти</button>
            </form>
        </div>
    </div>
</nav>

    <!--Header panel-->
<header class="header d-flex flex-column justify-content-center" id="home">
    <div class="container">
        <h1 class="display-3">Распродажа и розыгрыш ключей</h1>
        <p class="lead">
            Присоединяйтесь к сообществу и участвуй в розыгрыше
        </p>
    </div>
</header>
    
    <!--Sales-->
<main class="sale" id="sale">       
    <div class="container">
        <h1 class="display-3">Акции дня</h1>
        <div class="card-deck">
            <div class="card border border-warning">
                <img class="card-img-top" src="../assets/images/1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">STALKER</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="progress">
                         <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-warning btn-sm btn-block">Подробнее</a>
                </div>
            </div>
            <div class="card border border-warning">
                <img class="card-img-top" src="../assets/images/2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">CS GO</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="progress">
                         <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-warning btn-sm btn-block">Подробнее</a>
                </div>
            </div>
            <div class="card border border-warning">
                <img class="card-img-top" src="../assets/images/3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Far Cry 5</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="progress">
                         <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-warning btn-sm btn-block">Подробнее</a>
                </div>
            </div>  
        </div>
    </div>
</main>
    
    <!--News-->
<article class="article" id="news">
    <div class="container">
        <h1 class="display-3">Последние новики на сайте</h1>        
        <div class="card mb-3 border-warning">
            <img class="card-img-top" src="../assets/images/1.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Название карточки</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-outline-warning btn-sm">Подробнее</a>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card mb-3 border-warning">
            <img class="card-img-top" src="../assets/images/5.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Название карточки</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-outline-warning btn-sm">Подробнее</a>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>  
        <div class="card mb-3 border-warning">
            <img class="card-img-top" src="../assets/images/1.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Название карточки</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-outline-warning btn-sm">Подробнее</a>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <span class="oi oi-eye"></span>
            </div>
        </div>  
        <nav>
            <ul class="pagination pagination-sm justify-content-end">
                <li class="page-item"><a class="page-link" href="#">Назад</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Далее</a></li>
            </ul>
        </nav>
    </div>
</article>
    
    <!--Footer-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <h3>KeyStore</h3>
                <p>Lordajsd jasdkaskj naskldjaklsdj aklsdjalsdjlasjd hkasdhkjwe kasjdlkasjd</p>
            </div>
            <div class="col-lg-4 col-sm-6">
                <h3>Контакты</h3>
                <address>
                    <b>Lordajsd</b> jasdkaskj naskldjaklsdj aklsdjalsdjlasjd hkasdhkjwe kasjdlkasjd
                </address>
            </div>
            <div class="col-lg-4 col-sm-6" style="text-align: center">
                <img src="../assets/images/favicon.png" width="100px">
            </div>
        </div>
    </div>    
</footer>
    
    <!--Copyright-->
<div class="copyright">
    <div class="container">
        <div>
            &copy; Sammy.Inc
        </div>
    </div>
    
</div> 

</body>
    
</html>